[2017-06-10 11:07] badgerwithagun opened #3 "SqlStatementExecutor is missing"
The data access entry point (`SqlStatementExecutor`) allows SQL DML to be executed at runtime using the Morf DSL. This is currently missing from Morf because it lives elsewhere in the Alfa Systems codebase, in a module we aren't publishing.

Without it, using the DSL at runtime is ugly (you need to use the SqlDialect to convert the SQL DSL into a string, then run that directly using JDBC).

It nee

[2017-06-10 11:15] badgerwithagun opened #4 "Remove JExcel dependency from morf-core"
Excel file generation should be moved to a secondary plugin module, like the `DatabaseType`s.  It is a relatively niche feature.

[2017-06-10 11:17] badgerwithagun opened #5 "Remove XML handling, Xalan, XPP3 dependencies from morf-core"
XML handling is a non-core feature and requires dependencies which should be optional. They should be moved to a separate module, like the `DatabaseType`s.

[2017-06-10 11:21] badgerwithagun opened #6 "Define "getting started" user stories, improve APIs to support"
Morf grew organically with Alfa Systems, so we have never actually documented how to implement it from scratch in a new project. In finalising these user stories, we will be both documenting them for new users and implementing any new APIs necessary to make the experience right.

[2017-06-10 11:22] badgerwithagun opened #7 "Make DSLs immutable"
Currently, most elements of the SQL DSL are mutable. This is one of those things that occurred organically over time to make the DSL read more cleanly, but which has increasingly looked out of place. It also prevents a number of performance optimisations.

All SQL dialect elements need to be made immutable, allowing us to resolve some unpleasant API side-effects. Once this is done, we can signific

[2017-06-10 11:25] badgerwithagun opened #8 "Publish Morf Data Copier"
We have a simple command-line/UI tool built over Morf which allows end users to copy arbitrary database schemas and data between servers, platforms and cross-platform XML "dumps".

This is an extremely useful and unique tool and also a nice, clean example of how to use Morf in the real world. We want that published, but it also needs some extrication from our code stack.

[2017-06-10 11:26] badgerwithagun opened #9 "Consider switching logging to slf4j"
Currently we force a log4j dependency on applications. There's no need.

[2017-06-10 11:29] badgerwithagun opened #10 "Javadoc needs a sweep"
Prior to 1.0.0, the Javadoc needs a thorough sweep for detail, accuracy and consistency.

[2017-06-11 13:11] badgerwithagun opened #11 "Link to Contributor Agreement from Wiki is broken"
Missing link on https://github.com/alfasoftware/morf/wiki/Contributor-Agreement - presumably this should be downloadable.

[2017-06-12 12:13] tsg21 commented on #11
Yes. I will update the link once it has itself been published. Nearly there.

[2017-06-12 20:29] badgerwithagun commented on #6
In progress

[2017-06-29 15:02] badgerwithagun opened #14 "Finish refactoring out Guice dependency"
We should not have a Guice dependency from morf-core.  Work is in progress to factor this out into a new morf-guicesupport module.

[2017-06-29 15:16] badgerwithagun opened #15 "Set up SonarQube"
Would be good to get some metrics up on the public project.

[2017-06-29 15:17] badgerwithagun opened #16 "Set up Travis CI build"

[2017-06-29 16:54] wnicholson commented on #15
Agree. Let's get [`coverage-per-test`](https://github.com/SonarSource/sonar-examples/tree/master/projects/languages/java/code-coverage/ut/ut-maven-jacoco) set up in the build too so we can see it in Sonar.

[2017-07-01 06:41] badgerwithagun commented on #11
Fixed

[2017-07-01 06:41] #11 closed

[2017-07-01 06:44] badgerwithagun commented on #8
@tsg21 is making progress on this. Assigned

[2017-07-01 10:37] venushka opened #17 "Fix javadoc errors"
There's a lot of JavaDoc errors in the build, all these needs fixing and fail on JavaDoc error needs to be enabled on the build by removing the failOnError = false flag on parent pom.xml

[2017-07-01 11:40] badgerwithagun opened #18 "H2 dependency in morf-core pom looks unnecessary"
Shouldn't need H2 until you get up to integrationtest.  @venushka ?

[2017-07-02 11:01] badgerwithagun opened #19 "Findbugs excluding J2EE_STORE_OF_NON_SERIALIZABLE_OBJECT_INTO_SESSION probably inappropriate"
I doubt this is even needed this low in the stack anyway, but it makes a big assumption.  Should try and remove this exclusion.

[2017-07-02 11:02] badgerwithagun commented on #19
See https://github.com/alfasoftware/morf/blob/master/findbugs-exclude.xml#L58

[2017-07-02 11:06] badgerwithagun opened #20 "Findbugs excluding JCIP_FIELD_ISNT_FINAL_IN_IMMUTABLE_CLASS probably inappropriate"
See https://github.com/alfasoftware/morf/blob/master/findbugs-exclude.xml#L14

Pretty sure we can just remove this

[2017-07-02 11:08] badgerwithagun opened #21 "A couple of Alfa Systems-specific FindBugs exclusions should be removed"
See https://github.com/alfasoftware/morf/blob/master/findbugs-exclude.xml#L40

[2017-07-02 11:13] badgerwithagun opened #22 "x"
x

[2017-07-02 11:14] badgerwithagun opened #23 "AssumedUUIDs.file in upgrade package resources looks suspicious"
https://github.com/alfasoftware/morf/blob/master/morf-core/src/main/resources/org/alfasoftware/morf/upgrade/AssumedUUIDs.txt

[2017-07-02 11:15] badgerwithagun opened #24 "xml package in morf-core is empty and should be removed"
https://github.com/alfasoftware/morf/tree/master/morf-core/src/main/resources/org/alfasoftware/morf/xml

[2017-07-02 11:17] badgerwithagun commented on #24
Agh, was looking at the resources tree. Idiot.

[2017-07-02 11:17] #24 closed

[2017-07-02 11:21] badgerwithagun commented on #23
This looks like some leakage from elsewhere. Doesn't look like it belongs in morf.

[2017-07-02 11:21] #22 closed

[2017-07-02 11:25] badgerwithagun opened #25 "Upgrades built into morf-core should be tidied to cover only creation of morf supporing tables"
See https://github.com/alfasoftware/morf/tree/master/morf-core/src/main/java/org/alfasoftware/morf/upgrade/upgrade - I think we just want the upgrades to create the `UpgradeAudit` and `DeployedViews` tables from scratch so there is a clear route for adding morf to existing applications.

[2017-07-02 19:12] tsg21 commented on #19
Agreed, this definitely isn't needed. Morf has no awareness of the Servlet API anyway.

[2017-07-02 19:27] tsg21 commented on #20
Yes, that's not relevant to Morf.

[2017-07-02 19:43] #19 closed

[2017-07-02 19:45] badgerwithagun commented on #20
Done.

[2017-07-02 19:45] #20 closed

[2017-07-02 19:45] tsg21 commented on #18
Looks like some code in MockConnectionResources in the test tree uses it. Should be easy enough to remove.

[2017-07-02 19:45] badgerwithagun commented on #21
Done

[2017-07-02 19:45] #21 closed

[2017-07-02 19:46] badgerwithagun commented on #18
Could at least make it a test-only dependency.

[2017-07-02 19:47] tsg21 commented on #18
Also H2DatabaseInspector, which is in the testsupport project. Maybe this should go into morf-h2? I don't think there's a major issue with it being in the src tree.

[2017-07-02 19:48] tsg21 commented on #18
morf-core shouldn't need it. The current usage a merely as a convenience to avoid mocking.

[2017-07-02 19:55] tsg21 commented on #5
Hmmm. While I agree it's not core in the strict sense, I do think the XML storage is a pretty essential element. It's like to be pretty essential for much of the testing framework, for example.

Still, it would be nice to remove xpp3.

[2017-07-02 19:56] venushka commented on #18
I've put the dependencies based on the code to get it to build, there must
be a few dependencies we could remove/move down the chain for sure.

On 2 July 2017 at 20:48, Tim Gage <notifications@github.com> wrote:

--
Venushka Perera
Email: venushka@gmail.com
Phone: 074 0389 8943
LinkedIn: http://www.linkedin.com/in/venushka

[2017-07-02 20:17] badgerwithagun commented on #5
My thinking is that while the idea of streaming a database into/out of a serialised format *is* core, the choice of doing so to XML is not.

Other choices include compressed bytestreams, JSON or any number of alternatives.  XML is an option. That's fine, but as an option it should be a plugin.

[2017-07-03 07:19] tsg21 commented on #5
Yes, I understand the thinking, but I wonder if it's decomposition taken too far? We pulled the different DB types out into their own modules because they come with hefty dependencies. I think we can probably re-code the `XmlDataSetProducer` to use `javax.xml.stream.XMLStreamReader` (from core Java) instead of xpp3. If we can do that, is the extraction still worthwhile? I'm not convinced it is - t

[2017-07-03 07:31] badgerwithagun commented on #5
The complete list of XML related dependencies includes xalan, xpp3 and xmlpull. If we could redesign to avoid all three dependencies, then that would sort out my primary concern.

My secondary concern is whether any APIs in this area are overly specific to XML as an output format, forcing us into a position where we would have to break compatibility in the future in order to introduce an abstracti

[2017-07-03 07:37] badgerwithagun commented on #9
@venushka - would value your thoughts on this one.

[2017-07-03 09:06] badgerwithagun commented on #4
Looks like @venushka sorted this out for the initial push. Hooray. Closing

[2017-07-03 09:06] #4 closed

[2017-07-03 09:10] badgerwithagun commented on #5
Incidentally, @venushka already pulled out the Excel stuff into a separate submodule with very little difficulty. Instinctively, this should be just as easy. Less effort than trying to refactor it to use a different parser would be.

[2017-07-03 09:56] tsg21 commented on #5
It's very easy. The API it used to use has essentailly been adopted as the core [StAX standard](https://docs.oracle.com/javase/tutorial/jaxp/stax/why.html)

See branch: remove-xpp3

[2017-07-03 10:56] badgerwithagun commented on #5
Sweet. Looks good. Definitely solves the main problem.

I still think this belongs in a side API rather than the core one for maintenance reasons, but I'll have a play with that and see if it can be done without much friction.

[2017-07-03 12:14] tsg21 commented on #9
Yes, I think this is a sensible plan.

We don't - commons.logging can be hooked into other logging implementations, but it's nowhere near as widely used as slf4j is.

[2017-07-03 13:26] badgerwithagun opened #27 "TestXmlDataSetConsumer.testIndexOrdering() failing due to line delimiters mismatching"
`org.alfasoftware.morf.xml.TestXmlDataSetConsumer.testIndexOrdering()` fails on my personal machine with the two strings mismatching.  They look identical when compared but have a different `.length()`.  I converted the `testIndexOrdering.xml` file to Unix line endings, and the test passes.

I could submit a PR with [this change](https://github.com/badgerwithagun/morf/commits/fixlf) but there must

[2017-07-03 13:53] badgerwithagun commented on #5
Yeah, just as easy:

https://github.com/badgerwithagun/morf/commit/3108c7931d62d770f4eaae0071d8224887d696b8

[2017-07-03 13:55] badgerwithagun commented on #5
Do both?

[2017-07-03 18:16] venushka commented on #9
I agree, we should switch to slf4j.

One thing to keep in mind though, we should make sure the test execution within Maven should be provided with a logging implementation (log4j like we already have probably) with the required configuration to ensure the logs from tests are redirected to a file and not be printed to console. Travis builds are limited to 4MB of console output for opensource projec

[2017-07-03 19:03] tsg21 commented on #5
I'm not convinced there's value. It just makes it a bit more fiddly to use with only a trivial benefit in terms of dependency sizing.

[2017-07-03 19:07] badgerwithagun commented on #9
Yeah I saw that on your fork - makes sense.

[2017-07-03 19:13] badgerwithagun commented on #5
OK. At this point I don't mind hugely. Let's get a casting vote and at the very least get your branch in, or both.

[2017-07-04 13:08] badgerwithagun opened #28 "Upgrade step with description longer than 200 characters fails when run"
The `UpgradeAudit` table has a 200-character `description` field.  This is populated with the `.getDescription()` from the `UpgradeStep` when it is applied.  If the description is over 200 characters, this isn't detected until the upgrade step is run and the insert fails.

`UpgradeTestHelper` is supposed to check this sort of thing.

[2017-07-04 13:36] badgerwithagun commented on #28
https://github.com/alfasoftware/morf/pull/29

[2017-07-04 14:03] #28 closed

[2017-07-04 15:09] wnicholson opened #31 "Investigate SonarQube incremental analysis -> GitHub plugin for PRs"
We _might_ be able to use the [the SonarQube -> GitHub plugin](https://docs.sonarqube.org/display/PLUG/GitHub+Plugin) for auto-analysing PRs before merging. It already has Travis support but might need something set up on SonarCloud,io which we isn't available.

Let's see...

[2017-07-05 13:38] badgerwithagun opened #32 "SonarQube doesn't look like it's counting tests in morf-integrationtest towards the coverage figures"
Much of the SQL DSL is tested in aggregate over a compile-time choice of database platform by the integration test module.  This is because it's not enough to just prove that it works over an in-memory H2 database - the tests need to be runnable over any platform.

However, it look to me as if this cross-module testing approach isn't counting towards "coverage".

[2017-10-04 12:55] badgerwithagun commented on #17
Note that these are a major contributor to the need to pipe our build output to /dev/null.

See PR #35

[2017-10-04 12:56] badgerwithagun opened #36 "Pipe Maven output to build artifact"
Pull request #35 piped mvn output to /dev/null. Would be more useful if we could see these as a build artifact.   Travis instructions here https://docs.travis-ci.com/user/uploading-artifacts/ (requires S3).

[2017-10-05 10:27] badgerwithagun commented on #17
Fixed by #33

[2017-10-05 10:27] #17 closed

[2017-10-05 10:29] badgerwithagun commented on #16
Done

[2017-10-05 10:29] #16 closed

[2017-10-05 10:29] badgerwithagun commented on #10
Improved a little by #33 but that was purely about fixing errors. Still needs improving.

[2017-10-05 10:31] badgerwithagun commented on #15
@venushka, @wnicholson, is this done? We still have #32 and #31 open as separate issues.

[2017-10-20 13:36] venushka opened #38 "Log basic build output to the console"
With the change in pull request #35 all of the maven build output being redirected to /dev/null we are unable to see the basic build output like if the tests are running, javadoc generation is producing warnings etc.

[2017-10-20 14:35] badgerwithagun commented on #6
Main issues:

[2017-10-20 14:36] badgerwithagun commented on #6
Main issues:

* No way of using `Upgrade` or `Deployment` without Guice
* Jira ID should be removed from Morf's UpgradeStep interface
* Lack of functional consistency in where annotations or methods are used on UpgradeStep

[2017-10-20 20:41] venushka commented on #36
Given we can now see the build log in the console, the only content we would not have are the test logs. With the build time for Morf being just few minutes, its really easy run the build locally if we are investigating a test failure, so I guess this is very low priority or probably even unnecessary at this time?

[2017-10-20 20:44] venushka commented on #15
Yes, coverage-per-test is working fine. The code coverage information on https://sonarcloud.io provides information about which test(s) covered the code now.

[2017-10-20 20:44] #15 closed

[2017-10-20 20:55] venushka commented on #10
Also the following warning should be fixed as well.

<pre>
[WARNING] /home/travis/build/alfasoftware/morf/morf-nuodb/src/main/java/org/alfasoftware/morf/jdbc/nuodb/NuoDBHelper.java:22: warning: no @param for stringOfDouble
[WARNING] public static Double nuoDBConvertStringToDouble(String stringOfDouble) {
[WARNING] ^
[WARNING] /home/travis/build/alfasoftware/morf/morf-nuodb/src/main/java/org/alfaso

[2017-10-20 21:08] venushka commented on #27
I think when we serialise XMLs to disk, we only use line endings and not carriage returns `\r`. This test is comparing the serialised version with the XML file in the repo, which is rightly has only line break `\n` characters.

It doesn't fail on mine, so I presume you might have set your [core.autocrlf](https://help.github.com/articles/dealing-with-line-endings/) enabled on your machine. I would

[2017-10-26 07:26] tsg21 commented on #27
Looks like we could ensure this works everywhere by using a `.gitattributes` file.

[2017-10-26 07:32] tsg21 commented on #23
`AssumedUUIDs.txt` is a legacy of Alfa first introduced the `UpgradeAudit` table to track upgrade steps. It should at least be moved out of Morf, and possibly be removed entirely.

[2017-10-26 11:36] Jaffa commented on #6
Presumably you're imagining replacing it with an annotation? There's some niceness to having a _get change id_ method. We could have an `AbstractUpgradeStep` that implemented that by reading the UUID annotation; but projects that do have overarching change control (whether github, JIRA, ...) still have a place to ensure the metadata is captured.

[2017-10-26 11:40] badgerwithagun commented on #6
An annotation was the thinking, yes, but it'd probably not be part of Morf, unless we generalised it (e.g. `@TicketNumber` or something.

[2017-10-26 13:17] tsg21 commented on #27
Possible fix: #41

[2017-10-26 13:38] badgerwithagun commented on #6
@Jaffa, @tsg21, could you have a look at https://github.com/alfasoftware/morf/wiki/Start-Here and make any changes you think appropriate?

That's stage 1 out of the way...

[2017-10-27 08:27] tsg21 commented on #9
I've had a go at this in a fork. It's a reasonably easy find-replace.

[2017-10-27 13:01] badgerwithagun commented on #9
@tsg21 - submit a PR!

[2017-10-27 14:10] tsg21 commented on #9
Don't see any reason why we'd want to stick to commons-logging?

[2017-10-27 15:23] tsg21 commented on #6
I've tweaked that to fix some typos, plus added [wiki/Key-Features](https://github.com/alfasoftware/morf/wiki/Key-Features)

[2017-10-27 15:28] badgerwithagun commented on #27
@tsg21 : OK, this has made things even worse.  Now our internal repo and the GitHub master have mismatching linefeeds. I can't change the internal repo to match GitHub or our tests fail.

Is it possible that `testIndexOrdering()` is generating XML based on local-specific linefeeds?  That would mean that when run on Windows it needs to compare with CRLF, but when run on *Nix it needs to compare wit

[2017-10-27 15:36] #18 closed

[2017-10-27 16:05] badgerwithagun commented on #6
Sweet, cheers!

[2017-10-31 15:15] badgerwithagun commented on #32
https://docs.sonarqube.org/display/PLUG/Code+Coverage+by+Integration+Tests+for+Java+Project

[2017-10-31 15:17] wnicholson commented on #32
Yep - we need to set up the IT coverage as part of the analysis.

We need follow the [Code Coverage by Integration Tests for Java Project](https://docs.sonarqube.org/x/egEW) guide (note the links to their examples are broken - see [this one for an example POM](https://github.com/SonarSource/sonar-scanning-examples/blob/master/sonarqube-scanner-maven/app-it/pom.xml).

[2017-11-01 11:58] badgerwithagun opened #45 "AbstractConnectionResources always sets transaction isolation level. This should be configurable"

[2017-11-06 15:54] badgerwithagun commented on #7
First stage is available for merge at #43.

Working on the next stage on https://github.com/badgerwithagun/morf/tree/immutable-statements

[2017-11-16 11:40] Jaffa opened #46 "Coordination of deployments and upgrades across multiple nodes"
# Background
Managed upgrade is a valuable feature of Morf. However, it is based on the assumption that a single user will apply the upgrade and coordinate with any other users about the upgrade.

This isn't always the case in shared environments, and is not necessarily true at large sites with multiple system administrators. Additionally, since each app server has its own idea that an upgrade is

[2017-11-16 11:59] badgerwithagun commented on #46
Great that we're looking to plug this gap.

Instinctively it sounds like we're pushing a lot (too much?) responsibility onto the caller though.  Couldn't `Deployment`, `Upgrade` etc this co-ordination themselves?

Obviously with the way upgrades currently work there is no "run an upgrade" API (you get the upgrade path and can throw that at `SqlScriptExecutor` to do the upgrade or just spit it out

[2017-11-16 12:02] badgerwithagun commented on #46
Referring to [Start Here](https://github.com/alfasoftware/morf/wiki/Start-Here):

[code]

This could easily do the orchestration.

However, this less so:

[code]

We could add something like this:

[code]

[2017-11-16 13:38] Jaffa commented on #46
The problem with a nice blocking API is considering the use case of providing:

* A nice progress UI (ok, we'll have a callback API)
* A nice authentication UI

There can be an arbitrary number of nodes, and an arbitrary number of sessions, any of whom can connect and see the state of the system and then potentially initiate the upgrade or deployment. Nodes can join half way through a deployment (

[2017-11-16 13:46] badgerwithagun commented on #46
Gotcha.  I think it's important, because that blocking implementation will act as an example of how to do this stuff - at the very least saying "the exercise of creating a non-blocking implementation is left to the reader...".

If we could go the extra mile and get the core of the non-blocking implementation into Morf too (via use of callbacks etc) so much the better - I can't help feeling there's

[2017-11-16 13:48] Jaffa commented on #46
I agree, the simple blocking implementation would be awesome. I'll see what
I can do.

On 16 November 2017 at 13:46, Graham Crockford <notifications@github.com>
wrote:

--
Andrew Flegg -- mailto:andrew@bleb.org  |  http://www.bleb.org/

[2017-11-16 16:06] badgerwithagun commented on #46
Pushed Mireille's work in progress to issue-46 branch

[2017-11-18 20:57] tsg21 commented on #8
I've spent a while trying to progress this in my fork. The main stumbling block is that the UI depends on Eclipse's SWT and JFace, and these are not cleanly available on Maven-central.

They were added earlier this year [it seems](https://objectteams.wordpress.com/2017/01/09/eclipse-neon-2-is-on-maven-central/) but I'm having trouble getting this to work. SWT is funky in the way it provides builds

[2017-11-19 13:26] badgerwithagun commented on #7
Second stage now available for merge in #47.

[2017-11-19 13:26] badgerwithagun commented on #7
After this, we're going to have to start breaking compatibility.

[2017-11-19 20:12] tsg21 commented on #8
Useful discussions on exactly this problem:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=510072
https://bugs.eclipse.org/bugs/show_bug.cgi?id=484004

Doesn't seem to supply a way of getting JFace to work though.

[2017-11-19 20:53] badgerwithagun commented on #8
IMHO I think all we really need is a the command line version. Not sure the SWT UI adds much to the party.

[2017-11-19 21:08] venushka commented on #8
Since it’s a really simple wizard UI, shall we replace it with JavaFX so that we don’t need the extra dependencies?

[2017-11-20 08:26] tsg21 commented on #8
@badgerwithagun : given how much use the UI gets within Alfa, I think it does add value. A command-line version is necessary too, but people like UIs.

@venushka : Possibly. I'm not against. The existing UI is pretty good though. Re-writing in JavaFX seems wasteful when there's a perfectly functional UI already there.

[2017-11-20 08:30] badgerwithagun commented on #8
Functional but desperately in need a rewrite, in all honesty - particularly to decouple from the JDBC URL generation code and allow support for arbitrary additional dialects.

[2017-11-20 08:43] tsg21 commented on #8
Absolutely, but that's a pretty small refactor (in my eyes) compared to completely rebuilding the UI in new tech.

(I don't have the knowledge of Java FX to rebuild the UI. Maybe someone else does?)

[2017-11-20 08:46] badgerwithagun commented on #8
Yeah, it’s pretty straightforward as long as you have simple requirements. Want a taskbar icon? Back to AWT with you. Hook into system level events? Ha!  One window wizard? Simples.

[2017-11-22 09:10] tsg21 commented on #9
Anyone like to offer up a reason why we should keep the dependency on log4j?

[2017-11-22 09:28] badgerwithagun commented on #9
Nope. Let's just do this. Could you create a PR with commons->slf4j and removal of log4j?

[2017-11-23 18:09] jsimlo opened #49 "Remove SqlDialect.buildAutonumberUpdate() and SqlDialect.buildSpecificAutonumberUpdate()"
These methods are not suited for a general-purpose library.
This is related to another Alfa product and does not belong here.
Planning to remove them from morf.

[2017-11-23 18:11] badgerwithagun commented on #49
Approved.  Go ahead @jsimlo.

[2017-11-23 21:43] tsg21 commented on #9
Will do

[2017-11-24 09:58] Charlottedeg opened #50 "Make database time reporting consistent for all supported database platforms."
This includes updates to improve consistency between the application and database reported times by returning UTC in all cases. This prevents timezone differences on application startup.

Further, a bug in MySQL (https://stackoverflow.com/questions/26515700/mysql-jdbc-driver-5-1-33-time-zone-issue/33893008#33893008) results in the incorrect time being returned from the database, as it uses the cal

[2017-11-24 09:58] Charlottedeg commented on #50
Resolved in master.

[2017-11-24 09:58] #50 closed

[2017-12-07 12:33] badgerwithagun commented on #46
@Jaffa, now the main functionality is in following the merge of `issue-46` to master, what further considerations do we have from an API perspective and the Start Here page?

https://github.com/alfasoftware/morf/wiki/Start-Here

[2017-12-13 13:00] gilleain commented on #8
I've taken a look at rewriting from SWT to JavaFX, and it doesn't look too bad. From experience with progress bars in SWT, that might be a little trickier, but no insurmountable.

Will try to get to this over Christmas.

[2017-12-13 13:46] badgerwithagun commented on #8
Just to re-iterate, why do we think the UI is that important?  @tsg21 ?

Could we not get the command line version out first and build a UI later?

[2018-01-02 14:35] tsg21 commented on #5
Fixed by #40

[2018-01-02 14:35] #5 closed

[2018-01-02 14:37] tsg21 commented on #8
It's not essential, by any means (if a good command line alternative is provided), however:
1. We have plenty of history to suggest people will use it if it is available.
1. We have expectation from Alfa employees that it is available.

So I think it would be valuable to have as an option.

@gilleain Please feel free to have a go!

[2018-01-25 12:50] JFL110 opened #52 "Introduce the concept of recoverable exceptions into Morf"
In a similar vein to Hibernate's [JDBCExceptionHelper](https://docs.jboss.org/hibernate/orm/3.5/api/org/hibernate/exception/JDBCExceptionHelper.html) and [org.hibernate.dialect.Dialect.buildSQLExceptionConversionDelegate](http://docs.jboss.org/hibernate/orm/5.1/javadocs/org/hibernate/dialect/Oracle8iDialect.html) it would be great to have a mechanism which can indicate to upstream processing that

[2018-01-25 12:55] badgerwithagun commented on #52
Thanks for raising this, @JFL110.

JDBC already provides for this in the form of exceptions which extend `java.sql.SQLTransientException`.  AFAICT Oracle is just a bad player in not extending this (or indeed using the proper hierarchy of SQL exceptions at all).

Perhaps that's what we should do?

[2018-01-25 13:35] JFL110 commented on #52
Nice @badgerwithagun, `java.sql.SQLTransientException` sounds like exactly what I'm after.

[2018-01-25 13:42] JFL110 commented on #52
API wise I think we can either go for,

`Exception SqlDialect.reclassifyException(Exception exception)`
or (but with a better name)
`boolean SqlDialect.needsWrappingAsTransientException(Exception exception)`

What are your thoughts @badgerwithagun?

[2018-02-07 09:45] franksloan opened #54 "Remove invalid 'append' Oracle hint"
The hint 'append' can be removed from our parameterised _INSERT INTO_ statements, this will be ignored by oracle when executed. The [Oracle guide](https://docs.oracle.com/cd/E11882_01/server.112/e41084/sql_elements006.htm#SQLRF50901) states that:

Even though APPEND_VALUES is the correct hint for this type of insert it is not appropriate here and would only have performance benefits when executed

[2018-02-12 14:32] badgerwithagun opened #56 "Publish snapshots to oss.sonatype.org"
We're a little way off publishing releases, but not having builds available for developers to pull in using Maven is preventing anyone playing with it (myself included ;)).

Shall we set up on sonatype and deploy there?

Alternatively you can self-host on Github: https://stackoverflow.com/questions/14013644/hosting-a-maven-repository-on-github

[2018-02-12 14:32] badgerwithagun commented on #56
@venushka @wnicholson thoughts?

[2018-02-13 16:36] michal-morzywolek opened #57 "RecordHelper.javaTypeToRecordValue(Object) should use toPlainString() for BigDecimal instances"
The javadoc of `javaTypeToRecordValue` says:

Currently the method uses `toString()` which is not the best idea for `BigDecimal `instances. The `toString `javadoc of `BigDecimal `says:

This means that not only the result returned might be using scientific notation but it's also not used in some cases (the result format may vary). As discussed with @badgerwithagun this is not suitable implementati

[2018-02-13 20:14] venushka commented on #56
Actually I wanted to do this as soon as we got morf on to Github :)

Its actually quite simple to do, the instructions are here: http://central.sonatype.org/pages/ossrh-guide.html

Code wise, we'll need to put back the <distributionManagement> and <scm> blocks back in to the POMs with the appropriate URLs, and we can get Git **master** builds to publish snapshots with every build.

Releases are ju

[2018-02-13 21:40] badgerwithagun commented on #57
Yup :thumbsup:

[2018-02-14 09:19] wnicholson commented on #56
Agreed. We'll need to apply for a namespace ({{org.alfasoftware}}?) and comply with http://central.sonatype.org/pages/requirements.html.

[2018-02-14 10:17] badgerwithagun commented on #56
Anyone fancy pushing that forward?

[2018-02-14 11:10] venushka commented on #56
I can look at the making the project compliant with the requirements and getting it to publish.

@wnicholson, would you mind creating the JIRA project and requesting our namespace from Sonatype as mentioned on http://central.sonatype.org/pages/ossrh-guide.html?

[2018-02-15 12:37] badgerwithagun commented on #57
Pushed to master

[2018-02-15 12:37] #57 closed

[2018-02-15 12:37] badgerwithagun commented on #54
Pushed to master

[2018-02-15 12:37] #54 closed

[2018-02-18 16:45] badgerwithagun commented on #46
@Jaffa, I just tried to use morf in a new project and it no longer works following these changes.  They seem to require injection to work, and we're trying to remove the injection requirement from Morf.

The following instructions (specifically around the use of `Deployment` and `UpgradePath`) are now broken:

https://github.com/alfasoftware/morf/wiki/Start-Here

[2018-02-28 16:38] badgerwithagun commented on #49
Fixed

[2018-02-28 16:38] #49 closed

[2018-03-08 14:48] wnicholson commented on #32
I'm going to attack this one tomorrow morning.

[2018-03-08 15:04] badgerwithagun commented on #32
Awesome!

[2018-03-08 15:14] badgerwithagun commented on #38
Unassigning due to lack of progress

[2018-03-08 15:14] badgerwithagun commented on #36
Unassigning due to lack of progress

[2018-03-08 15:44] badgerwithagun commented on #7
#47 merged.

[2018-03-21 15:34] pstefaniak7 commented on #23
`UpgradePathFinder` contains a logic for ignoring UUIDs loaded from this file. I imagine this has been added for backwards compatibility.

Do we need to support a scenario when some UUIDs are ignored in the upgrade process ? If the answer is yes then we could think about making this part of the public API.
Another option is to make wrap it up in the unsupported API to be removed in the future once

[2018-03-21 15:38] badgerwithagun commented on #23
I guess there is some historical reason why this exists.  I have my doubts as to whether anyone other than us would need it going forward, so whatever we implement here will probably never be a supported API.  ideally we'd factor it out entirely.  @tsg21 - thoughts?

[2018-04-18 09:10] badgerwithagun opened #58 "Shallow clone on Travis may be restricting SonarQube"
From Travis logs:

[code]

@venushka ?

[2018-05-11 06:54] #38 closed

[2018-05-11 06:55] venushka commented on #38
Build output is on the console log in Travis now, must be fixed. Not an issue anymore, closing.

[2018-05-11 06:56] venushka commented on #58
I’ll have a look at this one.

[2018-08-18 18:37] venushka commented on #58
Fixed.

[2018-08-18 18:37] #58 closed

[2018-08-29 14:41] wnicholson commented on #56
(finally) done - with Sonatype to check & approve: https://issues.sonatype.org/browse/OSSRH-42285

[2018-10-26 16:06] badgerwithagun commented on #56
@venushka : this has been approved. What's next?

[2018-10-26 16:07] badgerwithagun commented on #52
@JFL110 , I assume this is already in and the issue can be closed?

[2018-10-26 16:13] badgerwithagun commented on #27
@tsg21 , I assume this can now be closed?

[2018-10-26 16:17] badgerwithagun commented on #7
@pstefaniak7 is currently working on the last steps in making Alfa's internal code compatible with "immutable mode".  Once that's done we'll flip the default behaviour around and start removing mutable support.

[2018-10-28 15:44] tsg21 commented on #27
Yes. If the tests are passing (they are) and nobody's complaining about local issues (they aren't) we might as well close this one.

[2018-10-28 15:44] #27 closed

[2018-10-31 13:05] JFL110 commented on #52
@badgerwithagun yep this is in and can be closed.

[2018-10-31 13:05] #52 closed

[2018-10-31 17:04] badgerwithagun commented on #46
This work is completed and I've submitted a PR for the remaining issue.

[2018-10-31 17:04] #46 closed

[2018-11-01 11:48] venushka opened #63 "Use Sonatype DepShield for scanning for vulnerabilities"
We should scan the dependencies we use with Sonatype [DepSheild](https://github.com/marketplace/sonatype-depshield).

[2018-11-01 11:51] venushka commented on #63
@wnicholson, would you mind authorising the install of this for the organisation?

[2018-11-01 12:12] wnicholson commented on #63
I like the look of that - if we’re signing up on behalf of Alfa then I’ll need to get GitHub and Sonatype Ts & Cs checked.

[2018-11-01 13:35] venushka commented on #63
We'll have to signup as Alfa. Would you mind getting the ball rolling? It's not urgent at all, more of a nice to have at the moment.

[2018-11-01 13:51] #56 closed

[2018-11-01 14:35] badgerwithagun commented on #6
Made some progress here.

Main remaining issues:

- Lack of fluent SQL execution support (with me)
- Removing JIRA ID from `UpgradeStep`

Then I think we can close this bit off and start working on documenting/improving the rest of the toolset.

[2018-11-01 15:20] venushka opened #65 "Authorise SonarCloud access to Github"
When we so the SonarCloud scan, we get a warning in SonarCloud saying,

![image](https://user-images.githubusercontent.com/4840772/47860881-813a4c00-dde9-11e8-9184-9f5ea227b4f2.png)

Seems like they have changed the integration, @wnicholson can you please authorise this as the organisation admin?

[2018-11-01 15:30] venushka commented on #31
I think is implemented by 9c7dc7d526c3acc10b1ff237b2ebb848b10ee4da. Please see the comments on the commit.
Also #65 would probably improve the SonarCloud experience by enriching the content published.

[2018-11-01 15:51] badgerwithagun commented on #36
Ugh, I assumed it'd be like CircleCI.

Yes, fine.

[2018-11-01 15:51] #36 closed

[2018-11-01 15:53] badgerwithagun commented on #31
Great. Let's close this off and open PRs for any fixes if they're needed.

[2018-11-01 15:53] #31 closed

[2018-11-01 16:46] wnicholson commented on #65
Athe integration’s now a GitHub application - https://github.com/apps/sonarcloud

It’s now authorised to Morf.

[2018-11-01 17:36] badgerwithagun opened #66 "Shallow clone warning on Sonar is back"
@venushka ?

[2018-11-01 17:37] badgerwithagun commented on #66
Previously fixed in #59

[2018-11-01 20:05] venushka commented on #65
Seems like this has broken pull request scanning as it seems like its not setting up the sonarscanner in the environment after enabling this. @wnicholson, would you mind disabling this for a bit to see if this was definitely the cause?
Reading a bit more, it seems like this only works for 'internal' pull requests, so it won't actually add any value to pull requests from forks, so if removing this

[2018-11-01 21:02] venushka commented on #65
After a painful process realised that it was nothing to do with this. The tests I did was for internal PRs and they all work, external PRs doesn't work (and that's limitation as per their documentation).

The warning for internal PRs seems to have worked, so let's leave this enabled.

@wnicholson, @badgerwithagun, given this is the case, I guess we'll need to merge PRs from forks in to an internal

[2018-11-01 21:02] #65 closed

[2018-11-01 21:03] venushka commented on #65
And, thanks @wnicholson for getting the application authorised :)

[2018-11-17 13:57] badgerwithagun opened #68 "ConnectionResources.statementPoolingMaxStatements is not used"
This configuration doesn't belong in Morf. It's not used by it.

[2018-11-17 13:59] badgerwithagun opened #69 "Needs ConnectionResources type which can be initialised from a JDBC URL"
A JDBC URL is the normal means for configuring a database.  We should accept it rather than insisting on having it broken into type/server/port/username/password.

[2018-11-17 14:00] badgerwithagun commented on #69
On that note, `org.alfasoftware.morf.jdbc.ConnectionResourcesBean.ConnectionResourcesBean(URL)` is misleading; the natural expectation would be for this to be a JDBC URL, not the URL to a config file.

[2018-11-17 14:02] badgerwithagun commented on #69
I don't mean route through `org.alfasoftware.morf.jdbc.DatabaseType.extractJdbcUrl(String)`; I mean actually use the URL directly, so we don't force a particular structure on the URL.

[2018-11-17 15:04] badgerwithagun opened #70 "TableContribution should be moved to a Guice support extension"
We are currently missing the code that combines `TableContribution`s into a `Schema`.  That needs to be added and combined with `TableContribution` in a Guice extension (along with the rest of the Guice related stuff)

[2018-11-17 15:08] badgerwithagun commented on #70
Also missing `ViewContribution`.

[2018-11-17 15:22] badgerwithagun opened #71 "SchemaUtils.idColumn isn't sufficiently generic and should be removed"
This is a very specific interpretation of what an id column looks like.

Ditto `versionColumn()`

[2018-11-18 11:05] tsg21 commented on #68
Agreed. Going to be a fiddly one to move though.

[2018-11-19 10:58] badgerwithagun opened #72 "Morf requires RELOAD privileges on MySQL which are generally not available in hosted environments"
https://dev.mysql.com/doc/refman/8.0/en/privileges-provided.html#priv_reload

Morf relies on this in `MySqlDialect`:

[code]

Presumably this is for cluster safety, but it needs to be possible to disable it in environments where the application doesn't own the database, which applies to any shared hosted environment.

[2018-11-19 11:01] badgerwithagun commented on #72
Hacked past this locally with:

[code]

[2018-11-30 10:10] sonatype-depshield[bot] opened #76 "DepShield encountered errors while building your project"
The project could not be analyzed because of maven build errors. Please review the [error messages here](https://depshield.sonatype.org/error/alfasoftware/morf/Hd_Iia0zGoAiiT68AoyjeA). Another build will be scheduled within 24 hours. If the build is successful this issue will be closed, otherwise the [error message](https://depshield.sonatype.org/error/alfasoftware/morf/Hd_Iia0zGoAiiT68AoyjeA) wil

[2018-11-30 10:19] wnicholson commented on #63
All fine for Alfa, app installed & connected.

...but they say our build failed - see #76

[2018-11-30 10:19] #63 closed

[2019-01-15 11:38] badgerwithagun opened #77 "Wire license-maven-plugin + commit into release builds"
Our licence mastheads have a tendency to go missing or out of date. I've had a lot of success with (one of the) Maven plugins for this purpose:

[code]
I like the simplicity of this one - it just inserts the content of a defined `HEADER` file at the top of every file in a language-appropriate way (it handles the correct commenting style for the file type).

Example of a `HEADER` file:

[code]
The

[2019-11-08 12:24] #76 closed

[2019-11-08 12:25] sonatype-depshield[bot] opened #85 "[DepShield] (CVSS 7.5) Vulnerability due to usage of xalan:serializer:2.7.1"
**Vulnerabilities**

DepShield reports that this application's usage of [xalan:serializer:2.7.1](https://ossindex.sonatype.org/component/pkg:maven/xalan/serializer@2.7.1) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2014-0107]  Permissions, Privileges, and Access Controls](https://ossindex.sonatype.org/vuln/ffed5adf-971f-4f9b-bf72-1e8cd8d48352)

<hr />

**Occurrences**

xalan

[2019-11-08 12:25] sonatype-depshield[bot] opened #86 "[DepShield] (CVSS 4.3) Vulnerability due to usage of javax.mail:mail:1.4"
**Vulnerabilities**

DepShield reports that this application's usage of [javax.mail:mail:1.4](https://ossindex.sonatype.org/component/pkg:maven/javax.mail/mail@1.4) results in the following vulnerability(s):

- (CVSS **4.3**) [CWE-200: Information Exposure](https://ossindex.sonatype.org/vuln/7d80f106-0f98-4639-ab9e-12e00211dcb0)

<hr />

**Occurrences**

javax.mail:mail:1.4 is a transitive depende

[2020-03-25 11:30] therealluigi commented on #7
@pstefaniak7 what is the progress on this one? Finished? Abandoned?

[2020-03-25 11:38] pstefaniak7 commented on #7
@therealluigi
No progress on this since last update in 2018.

[2020-05-15 10:29] harrisric opened #106 "Upgrade dependency on commons-lang to commons-lang3"
commons-lang was last updated in 2011.
commons-lang3 was updated to require java 8 in Apr-2018 and is likely to receive updates for any vulnerabilities, bugs or inefficiencies, as well as guiding better practices through deprecations.

[2020-05-15 15:48] harrisric opened #109 "Remove dependency on commons-io"
Commons io is used for a single case: FileUtils.forceDelete
This is used to delete a file or directory and seems a simple case to implement rather than pulling in an whole external library.

[2020-05-15 15:50] harrisric opened #110 "Remove commons codec"
Commons codec is used for base64 encoding and producing hashes (of select statements).
The Base64 encoding can be produced using core java.
The Hash functionality is available via guava which is already a dependency.

[2020-05-15 15:59] #32 closed

[2020-05-15 16:43] #106 closed

[2020-05-21 07:48] harrisric commented on #110
Now complete

[2020-05-21 07:48] #110 closed

[2020-05-21 07:49] harrisric commented on #109
Now complete

[2020-05-21 07:49] #109 closed

[2020-09-24 07:54] jonknight73 opened #130 "Reliance on Default Encoding"
There are 2 instances of reliance on default encoding reported in FindBugs run on the Master branch.

[code]

Line 265 in org.alfasoftware.morf.xml.ViewURLAsFile
[code]

And line 288 in org.alfasoftware.morf.metadata.ValueConverters
[code]

[2021-01-07 09:09] sonatype-depshield[bot] opened #137 "[DepShield] (CVSS 3.3) Vulnerability due to usage of com.google.guava:guava:27.0-jre"
**Vulnerabilities**

DepShield reports that this application's usage of [com.google.guava:guava:27.0-jre](https://ossindex.sonatype.org/component/pkg:maven/com.google.guava/guava@27.0-jre) results in the following vulnerability(s):

- (CVSS **3.3**) [[CVE-2020-8908] A temp directory creation vulnerability exist in Guava versions prior to 30.0 al...](https://ossindex.sonatype.org/vuln/8e973be2-4220

[2021-01-07 09:09] sonatype-depshield[bot] opened #138 "[DepShield] (CVSS 5.5) Vulnerability due to usage of junit:junit:4.11"
**Vulnerabilities**

DepShield reports that this application's usage of [junit:junit:4.11](https://ossindex.sonatype.org/component/pkg:maven/junit/junit@4.11) results in the following vulnerability(s):

- (CVSS **5.5**) [[CVE-2020-15250] In JUnit4 from version 4.7 and before 4.13.1, the test rule TemporaryFolder cont...](https://ossindex.sonatype.org/vuln/7ea56ad4-8a8b-4e51-8ed9-5aad83d8efb1)

<su

[2021-02-02 11:33] gilleain opened #142 "Spelling error in log message"
Very minor, but annoying :

https://github.com/alfasoftware/morf/blob/4504bb6429474cae51d8f1ad93adf1fca177c1c9/morf-core/src/main/java/org/alfasoftware/morf/xml/ViewURLAsFile.java#L79

"directily" !!

[2021-02-15 12:27] sonatype-depshield[bot] opened #144 "[DepShield] (CVSS 9.8) Vulnerability due to usage of log4j:log4j:1.2.15"
**Vulnerabilities**

DepShield reports that this application's usage of [log4j:log4j:1.2.15](https://ossindex.sonatype.org/component/pkg:maven/log4j/log4j@1.2.15) results in the following vulnerability(s):

- (CVSS **9.8**) [[CVE-2019-17571] Included in Log4j 1.2 is a SocketServer class that is vulnerable to deserializat...](https://ossindex.sonatype.org/vuln/e6e4ebea-da12-4bde-8f24-6272925ad093)

[2021-03-03 09:07] sonatype-depshield[bot] opened #149 "[DepShield] (CVSS 5.5) Vulnerability due to usage of junit:junit:4.13.1"
**Vulnerabilities**

DepShield reports that this application's usage of [junit:junit:4.13.1](https://ossindex.sonatype.org/component/pkg:maven/junit/junit@4.13.1) results in the following vulnerability(s):

- (CVSS **5.5**) [[CVE-2020-15250] In JUnit4 from version 4.7 and before 4.13.1, the test rule TemporaryFolder cont...](https://ossindex.sonatype.org/vuln/7ea56ad4-8a8b-4e51-8ed9-5aad83d8efb1)

[2021-03-03 09:09] gilleain commented on #138
Fixed by #132

[2021-03-03 09:12] #138 closed

[2021-04-28 12:14] sonatype-depshield[bot] opened #164 "[DepShield] (CVSS 3.3) Vulnerability due to usage of com.google.guava:guava:29.0-jre"
**Vulnerabilities**

DepShield reports that this application's usage of [com.google.guava:guava:29.0-jre](https://ossindex.sonatype.org/component/pkg:maven/com.google.guava/guava@29.0-jre) results in the following vulnerability(s):

- (CVSS **3.3**) [[CVE-2020-8908] A temp directory creation vulnerability exist in Guava versions prior to 30.0 al...](https://ossindex.sonatype.org/vuln/8e973be2-4220

[2021-04-28 14:11] gilleain commented on #164
Merged in #160

[2021-04-28 14:11] #164 closed

[2021-07-21 10:44] wnicholson opened #170 "Swap to SpotBugs"
Morf uses [findbugs-maven-plugin](https://gleclaire.github.io/findbugs-maven-plugin/) which uses [FindBugs](http://findbugs.sourceforge.net/) 3.0.1.

FindBugs is a discontinued project, and [SpotBugs](https://spotbugs.github.io/) is its successor. There's a [Maven plugin](https://spotbugs.readthedocs.io/en/latest/maven.html) and [migration is straightforward](https://spotbugs.readthedocs.io/en/lat

[2021-07-21 16:18] wnicholson commented on #170
Having said this is straightforward, I've tried it out and discovered Morf was binding FindBugs to ``verify`` as oppsed to the default, `validate``.

Unfortunately, as FindBugs and SpotBugs both need access to the classes, in the current setup they run and find nothing to do as ``compile`` hasn't happened yet. Moving the plugin config to ``verify`` throws up a selection of errors for ``morf-core``

[2021-07-21 16:27] wnicholson commented on #170
See https://github.com/wnicholson/morf/tree/switch_to_spotbugs

[2021-08-24 10:23] marcellor opened #172 "Add support for APPEND query hint"

[2021-09-02 09:09] marcellor commented on #172
PR merged - https://github.com/alfasoftware/morf/pull/173
Closing this issue.

[2022-01-05 13:13] wnicholson commented on #170
I've ported that branch as-is over to alfasoftware so it runs in CI - see https://github.com/alfasoftware/morf/tree/switch_to_spotbugs

25 fails from the [initial run in Travis](https://app.travis-ci.com/github/alfasoftware/morf/builds/244320641):
| Rule                                                | Errors |
|-----------------------------------------------------|-------:|
| NP_PARAMETER_MUST_BE

[2022-02-07 15:23] sonatype-depshield opened #190 "[DepShield] (CVSS 9.1) Vulnerability due to usage of com.h2database:h2:1.4.200"
**Vulnerabilities**

DepShield reports that this application's usage of [com.h2database:h2:1.4.200](https://ossindex.sonatype.org/component/pkg:maven/com.h2database/h2@1.4.200) results in the following vulnerability(s):

- (CVSS **9.1**) [[CVE-2021-23463] The package com.h2database:h2 from 0 and before 2.0.202 are vulnerable to XML Ex...](https://ossindex.sonatype.org/vuln/23e99573-8d8c-47f5-84a5-